@use "../custom" as *;
@use "../components/mixins" as *;

.banner-section {
  @include gradient;
  padding: 10rem 0 5rem 0;

  @include media-breakpoint-up(md) {
    padding: 15rem 0 10rem 0;
  }

  a{
    color: $cyan-gray;
  }

  // .glow-animation {
  //   color: $cyan-gray;
  //   animation: glow 1.2s infinite alternate;
  // }
}
