@use "../custom" as *;
@use "../components/mixins" as *;

.footer-section {
  @include default-background;
  width: 100%;

  .socials a {
    padding: 1rem;
    font-size: 2rem !important;
    transition: 0.3s;
    text-shadow: 0.2rem 0.2rem 0.4rem $cyan-dark;

    @include media-breakpoint-up(md) {
      font-size: 2.25rem !important;
    }
  }

  .copyright {
    font-size: 0.75rem !important;
  }

  .social-icon {
    animation: glow 1s infinite alternate;
  }
}
