@use "../custom" as *;
@use "../components/mixins" as *;

.footer-section {
  @include default-background;
  width: 100%;

  .socials a {
    padding: 1rem;
    font-size: 1.5rem !important;
    transition: 0.3s;

    @include media-breakpoint-up(md) {
      font-size: 1.75rem !important;
    }
  }

  .copyright {
    font-size: 0.75rem !important;
  }
}
