@use "../custom" as *;
@use "../components/mixins" as *;

.menu {
  font-family: "Courier Prime", monospace;
  background-color: $white;

  .navbar-brand {
    font-size: 1.25rem;
    font-weight: 700;

    @include media-breakpoint-up(md) {
      font-size: 1.35rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 1.5rem;
    }
  }

  .navbar-nav {
    @include media-breakpoint-up(md) {
      font-size: 1.15rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 1.25rem;
    }
  }

  .nav-link {
    font-weight: 700;
  }

  .nav-link:hover {
    color: $cyan-darker;
  }

  .navbar-brand,
  .nav-link {
    color: $cyan-dark;
    // text-transform: uppercase;
    transition: 0.3s;
  }
}
