@use "../custom" as *;

// gradient mixin
@mixin gradient {
  background: linear-gradient(to top, rgba($cyan-light, 0.95), rgba($white, 1));
}

@mixin gradient-reverse {
  background: linear-gradient(
    to bottom,
    rgba($cyan-light, 0.95),
    rgba($white, 1)
  );
}

@mixin default-background {
  background: rgba($cyan-light, 0.95);
}
